@import "tailwindcss";

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --shadow-drop-1: 0px 10px 30px 0px rgba(66, 71, 97, 0.1);
  --shadow-drop-2: 0 8px 30px 0 rgba(65, 89, 214, 0.3);
  --shadow-drop-3: 0 8px 30px 0 rgba(65, 89, 214, 0.1);
  --radius: 12px;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --brand:#cc4820;
}

/* Dark Theme */
.dark {
  --background: #0f172a;
  --foreground: #ffffff;
}

@layer utilities{
  
    .h1 {
    @apply text-[34px] leading-[42px] font-bold;
  }
  .h2 {
    @apply text-[24px] leading-[36px] font-bold;
  }
  .h3 {
    @apply text-[20px] leading-[28px] font-semibold;
  }
  .h4 {
    @apply text-[18px] leading-[20px] font-medium;
  }
  .h5 {
    @apply text-[16px] leading-[24px] font-semibold;
  }
  .sidebar-nav {
    @apply  mt-9 flex-1 gap-1  ;
  }
  .body-1{
    @apply text-[16px] leading-[24px] font-normal;

  }
}


/* Global styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
  padding: auto;
  margin: auto;
}
